/* ----- Fuentes ----- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* ----- Colors ----- */
$color1: #ececec;
$color2: rgb(136, 134, 134);
$color3: rgb(241, 241, 241);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(255, 94, 91, 1);
$color6: rgb(1, 124, 138);
$color7: rgb(226, 223, 223);

/* ----- General ----- */
body {
  background-color: $color1;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  color: $color2;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}

.ital {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

/* ----- Header ----- */
nav {
  position: fixed;
  z-index: 3;
  height: 100px;
  width: 100%;
  background: $color3;

  display: flex;

  transition: .3s;

  &.nav-scroll {
    background: $color3;
    
    border-bottom: 3px solid $color6;
    li {
      a {
        color: $color1;
      }
    }
  }

  .logo {
    flex-basis: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .panel {
    flex: 1;
    display: flex;
    flex-direction: column;

    //COMUNES PANEL A Y B
    .panel-a, .panel-b {
      flex: 1;
      display: flex;
      justify-content: flex-end;
       align-items: center;
      
       ul {
        list-style: none;
        margin: 0;
        display: flex;
    
        li {
          margin: 0 .4em;

          .dropdown {
            position: relative;
          }
        
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            margin-top: 9px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 1em 0;
            border-radius: 5px;
            border: 1px solid $color2;
          }
    
          .border {
            border: 1px solid $color6;
            color:  $color6;
            border-radius: 5px;
          }
          
          .start {
            background: #ff7a59;
            color:  $color4;
            border-radius: 5px;

            &:hover {
              background: #d85434;
            }
          }
          
          a {
            font-weight: 300;
            text-decoration: none;
            padding: .6em 1em;
            color: $color6;
            transition: all 500ms ease;
    
            &:hover {
              background-color: $color6;
              color:  $color4;
              border-radius: 5px;
            }
          }
        }
      }
    }
    //PANEL A
    .panel-a {
      ul {
        li {
          .dropdown-content {
            .content-lang {
              display: flex;
              flex-direction: column;
              a {
                height: 30px;
                &:hover {
                  background-color: rgb(3, 173, 192);;
                  color:  $color4;
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
    }

    //PANEL B
    .panel-b {
      ul {
        li.host {
          .dropdown-content {
            width: 50em;
            right: 25em;
            
            .content-host {
              display: flex;

              .card-host {
                flex: 1;
                text-align: center;
                padding: 0 .6em;
                .card-img {
                  font-size: 3em;
                }
              }
            }
          }
        }

        li.dom {
          .dropdown-content {
            width: 25em;
            right: 25em;
            
            .content-dom {
              display: flex;
              flex-direction: column;

              .card-dom {
                flex: 1;
                text-align: center;
                padding: 0 .6em;
              }
            }
          }
        }

        li.sec {
          .dropdown-content {
            width: 40em;
            right: 2em;
            
            .content-sec {
              display: flex;
              flex-direction: column;
              margin-left: 10px;
            }
          }
        }

        li.serv {
          .dropdown-content {
            width: 40em;
            right: 2em;
            
            .content-serv {
              display: flex;
              margin: 0 10px;
              padding: 0 20px;
            }
          }
        }

      }
    }

  }
  
}


/* ----- Showcase ----- */
#showcase {
  width: 100%;
  height: 660px;
  position: relative;
  background: url('../img/img-principal.jpeg');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .showcase-content {
    width: 60%;
    color: $color4;
    display: flex;
    flex-direction: column;
    
    .principal-title {
      margin: 0 0 5px 0;
      font-weight: 600;
      font-size: 2em;
      text-shadow: 1px 1px 1px #000;
    }

    .principal-content {
      
      width: 100%;
      form{
        display: flex;
        width: 100%;

        input {
          flex:2;
          border-radius: 0;
          border: 0;
        }

        button {
          border-radius: 0;
          font-family: 'Open Sans', sans-serif;
          font-weight: 600;
          background: #d85434;
          color: #d1d1d1;
        }
      }
    }
  }
}

#prices {
  position: relative;
  height: 550px;
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center; 

  
  .box-price {
    //width: 90%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid $color6;
    margin: 0 5px;
    background: #ececec;

    transition: all .5s;

    .title h5 {
      background: $color6;
      color: #eee;
      font-weight: 300;
      text-align: center;
      margin-bottom: 0;
    }

    .price {
      text-align: center;
      background: $color6;
      color: #eee;
      padding: 25px;
      margin: 0;

      h4 {
        border: 1px solid #eee;
        line-height: 20px;
        padding: 20px 28px;
        span {
          font-size: .5em;
        }
      }

      a {
        text-decoration: none;
        border: 1px solid #eee;
        padding: 7px 15px;
        color: #eee;
        transition: all .5s;
        &:hover {
          background-color: #d85434;
          color: #eee;
        }
      }
    }

    .description {
      text-align: center;
      flex:1;

      p {
        margin: 6px 0;

        span {
          font-weight: bold;
          font-size: 1.5em;
        }
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .big {
    flex: 1.3;
    height: 480px;
    border: 1px solid #d85434;
    .title h5 {
      background: #d85434;
    }
    .price {
       background: #d85434;
      color: #eee;
      a {
        transition: all .5s;
        &:hover {
          background-color: #eee;
          color:  #d85434;
        }
      }
    }
  }
  
}

#domain {
  width: 100%;
  padding: 50px 0;
  background: linear-gradient(to right, #a52100, #ff3402 ) ;

  display: flex;
  flex-direction: column;

  .domain-title {
    //opacity: 0;
    color: #eee;

    transition: all .3s;

    &.is-showing{
      opacity: 1;
    }
  }

  form {
    display: flex;
    input {
      flex: 1;
      border-radius: 0;
      border:0;
    }
    button {
      border-radius: 0;
      border: 2px solid #eee;
      color: #eee;
      transition: all .6s;

      &:hover {
        background: #a1361b
      }
    }
  }

  .card {
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
    opacity: 0;
    transition: all .3s;

    &.is-showing{
      opacity: 1;
    }
    
    .card-logo {
      padding: 10px;
      height: 150px;
      width: 150px;
      margin: 0 auto;
      
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s;
    }
  
    .card-title {
      text-align: center;
      margin-top: 5px;
      transition: all 1s;
      
    }
    .card-body {
      text-align: center;
      transition: all 1s;
    }
  
    &:hover {
      background: $color4;
      box-shadow: 1px 1px 4px $color1;

      .card-logo{
        transform: scale(1.1);
        color: $color2;
      }

     .card-title, .card-body {
       background: $color2;
       color: $color4;
     }
    }
  }
}

#web-design {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .img-web {
    height: 350px;
    background: url('../img/web.jpeg');
    background-size: cover;
    background-position: top center;
  }
}

#web-hosting {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .img-host {
    height: 350px;
    background: url('../img/hosting.jpeg');
    background-size: cover;
    background-position: top center;
  }
}

#stadistics {
 .container {
  width: 100%;
 }
 width: 100%;
  padding: 80px 0;
  background: linear-gradient(to right, rgba(1, 124, 138, 1) , rgba(0, 176, 196, 1));
  color: $color4;
  border-bottom: 4px solid $color4;
  display: flex;
  flex-direction: column;

  .stadistics-title, .stadistics-subtitle {
    text-align: center;
    //opacity: 0;
    transition: all .3s;

    &.is-showing{
      opacity: 1;
    }

  }

  .stadistics-body{
    display: flex;
    flex-wrap: wrap;

    //opacity: 0;
    transition: all .3s;

    &.is-showing{
      opacity: 1;
    }

    .box {
      width: 24.5%;
      padding-top: .5em;
      text-align: center;

      .icon-box {
        font-size: 3em;
      }

      .title-box {
        h3{
          font-size: 1.9em;
        }
      }

      .desc-box {
        p {
          font-size: .9em;
        }
      }

      &:nth-child(-n+4) {
          border-bottom: 1px solid #fff;
        
      }
      &:nth-child(-n+3) {
        border-right: 1px solid #fff;
      }
      &:nth-child(n+6):nth-child(-n+8) {
        border-left: 1px solid #fff;
      }
    }
  }
  
}

#contact {
  width: 100%;
  height: 250px;
  padding-top: 20px;
  background: $color1;
  color: $color4;

  .contact-title {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid $color2;

    opacity: 0;
    transition: all .3s;

    &.is-showing{
      opacity: 1;
    }
  }

  .contact-body{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid $color2;

    opacity: 0;
    transition: all .3s;

    &.is-showing{
      opacity: 1;
    }

    ul {
      list-style: none;
    }
  }
  
}

footer {
  height: 200px;
  background: $color1;
  color: $color4;
  p{
    text-align: center;
    
  }
}

@media (max-width: 550px) {
  #showcase {
    display: flex;
    justify-content: center;
    align-items: center;
  
    .showcase-content {
      width: 100%;
      color: $color4;
      
      h1 {
        margin: 0;
        font-weight: 100;
        font-size:3.4em;
        text-shadow: 1px 1px 1px #000;
      }
  
      .principal-content {
        height: 60px;
        border-left: 3px solid $color4;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
  
        .p1, .p2 {
          font-size: 2em;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
