/* Coolors Exported Palette - coolors.co/575757-00b0c4-f3efee-ffffff-ff5e5b */

/* HSL */
$color1: hsla(0%, 0%, 34%, 1);
$color2: hsla(186%, 100%, 38%, 1);
$color3: hsla(12%, 17%, 94%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(1%, 100%, 68%, 1);

/* RGB */
$color1: rgba(87, 87, 87, 1);
$color2: rgba(0, 176, 196, 1);
$color3: rgba(243, 239, 238, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(255, 94, 91, 1);